<div class="container">
  <div class="row">
    <div *ngFor="let film of films" class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            {{film.filmData.name}}
          </h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Duration: {{film.durationString}}
          </p>
          <button class="btn btn-block btn-lg btn-dark" [routerLink]="['/watchVideo', film.filmData.id]">
            <fa-icon [icon]='faPlay'></fa-icon>
            <span class="play">Play</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
